.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: whitesmoke;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    grid-row: auto;


}

.cart-container {
    border: 1px solid black;
    padding: 10px;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 400px) {}