.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: whitesmoke;
    margin: 20px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    grid-row: auto;
    margin: 50px;


}

.cart-container {
    position: sticky;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 400px) {}