.images img {
    width: 240px;
    padding: 10px;

}

.product {
    width: 250px;
    height: 410px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    box-shadow: 3px solid white;
    margin-top: 50px;

}

.button {
    width: 100%;
    background: black;
    color: antiquewhite;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    padding: 7px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;

}

.button:hover {
    background-color: rgba(0, 0, 0, 0.685);
}

.info {
    padding-top: 10px;
}

.button .button-text {
    margin-right: 10px;
    font-weight: 700;
    align-items: center;
}

.info {
    font-family: 'Courier New', Courier, monospace;
}