.images img {
    width: 300px;
    height: 250px;
}

.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.button {
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: orange;
}